<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">

	
	<!-- Mapping : 주소,함수 -->
	<!-- <bean id="propertiesResolver" class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
		<property name="mappings">
			<props>
				<prop key="/guest/test.do">test</prop>
				<prop key="/guest/write.do">write</prop>
				<prop key="/guest/writeOk.do">writeOk</prop>
				<prop key="/guest/delete.do">delete</prop>								
				<prop key="/guest/update.do">update</prop>								
				<prop key="/guest/updateOk.do">updateOk</prop>								
			</props>
		</property>
	</bean> -->
	
	
	<!-- DI -->
	<!-- <context:component-scan base-package="com.java.guestController"></context:component-scan>
	<context:component-scan base-package="com.java.guestService"></context:component-scan>
	<context:component-scan base-package="com.java.guestDao"></context:component-scan>	
	<context:component-scan base-package="com.java.guestAop"></context:component-scan> -->
	<context:component-scan base-package="com.java.*"></context:component-scan>
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	
	<!-- DB설정 -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"></property>
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"></property>
		<property name="username" value="kitri"></property>
		<property name="password" value="kitri"></property>
	</bean>
	
	<!-- MyBatis -->
	<!-- SqlSessionFactoryBean(접속정보,Mapper.xml정보) -> SqlSessionTemplat -->
	<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<!-- <property name="mapperLocations" value="classpath:com/java/guestDao/guestMapper/GuestMapper.xml"></property> -->
		
		<property name="mapperLocations">
			<list>
				<value>classpath:com/java/guestDao/guestMapper/GuestMapper.xml</value>		
			</list>
		</property>		
	</bean>
	
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactoryBean"></constructor-arg>		
	</bean>
	
	<!-- ViewResolver -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
</beans>
