<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">

	<!-- HanderMapping -->
	<bean id="handlerMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<prop key="/guest/*.do">guestController</prop>
			</props>
		</property>
	</bean>
	
	<!-- Mapping : 주소 -함수 -->
	<bean id="propertiesResolver" class="org.springframework.web.servlet.mvc.multiaction.PropertiesMethodNameResolver">
		<property name="mappings">
			<props>
				<prop key="/guest/test.do">test</prop>
				<prop key="/guest/write.do">write</prop>
				<prop key="/guest/writeOk.do">writeOk</prop>
				<prop key="/guest/delete.do">delete</prop>
				<prop key="/guest/update.do">update</prop>
				<prop key="/guest/updateOk.do">updateOk</prop>
			</props>
		</property>
	</bean>

	<!-- Controller -->
	<bean id="guestController" class="com.java.guestController.GuestController">
		<constructor-arg ref="guestService"/>
		<property name="methodNameResolver" ref="propertiesResolver"/>
	</bean>
	
	<!-- Service -->
	<bean id="guestService" class="com.java.guestService.GuestServiceImpl">
		<constructor-arg ref="guestDao"/>
	</bean>

	<!-- DAO -->
	<bean id="guestDao" class="com.java.guestDao.GuestDaoImpl">
		<constructor-arg ref="sqlSessionTemplate"/>
	</bean>
	
	<!-- DTO -->
	<bean id="guestDto" class="com.java.guestDto.GuestDto"/>
	
	<!-- AOP -->
	<bean id="aspect" class="com.java.guestAop.GuestAspect"></bean>
	
	<aop:config>
		<aop:aspect ref="aspect">
			<aop:pointcut expression="within(com.java..*)" id="publicMethod"/>
			<aop:around method="advice" pointcut-ref="publicMethod"/>		
		</aop:aspect>
	</aop:config>
	
	<!-- DB설정 -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"/>
		<property name="username" value="ora_user2"/>
		<property name="password" value="han2"/>
	</bean>
	
	<!-- SqlSessionFatoryBean(접속정보,mapper.xml 정보) - SeqSessionTemplat -->
	<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		
		<!-- 
		<property name="mapperLocations" value="classpath:com/java/guestDao/guestMapper/GuestMapper.xml"/>
		 -->		
		
		<property name="mapperLocations">
			<list>
				<value>classpath:com/java/guestDao/guestMapper/GuestMapper.xml</value>
			</list>
		</property>
		
		
	</bean>
	
	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSessionFactoryBean"/>
	</bean>
	
	<!-- ViewResolver -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	
</beans>
















